@using System.Collections.Generic;
@using System.Reflection

@{
    List<(string name, string link, bool external, string icon)> Links =
    [
    ("Dashboard", "/", false, "bi-speedometer2"),
("-", "", false, ""),
("Lobby", "/lobby", false, "bi-people"),
("Matchmaking", "/matchmaking", false, "bi-puzzle"),
("-", "", false, ""),
("Cluster", "/cluster", false, "bi-hdd-rack"),
("Server", "/server", false, "bi-cpu"),
("Allocation", "/allocation", false, "bi-collection"),
("-", "", false, ""),
("Setting", "/setting", false, "bi-sliders2"),
];
}

<nav class="flex flex-col gap-2">
    <span class="text-[#6464c8] font-bold text-3xl text-center w-full py-3">Conster</span>
    @foreach (var link in Links)
    {
        @if (string.IsNullOrWhiteSpace(link.link))
        {
            <span class="w-full h-[10px]"></span>
            continue;
        }

        <a class="text-[14px] font-bold px-3 py-1 flex flex-row items-center hover:translate-x-[15px] duration-[400ms]" href="@link.link" target=@(link.external ? "_blank" : "_self")>
            <i class="bi @link.icon mr-2 text-[18px]"></i>
            <span>@link.name</span>
        </a>
    }
</nav>